.container{
    min-width: 600px;
    max-width: 800px;
    height: 100vh;
}

.nav_bar{
    height: 46px;
    padding: 2px;
    min-width: 750px;
    border-bottom: 2px solid #dee2e6;
    margin-bottom: 20px;
}

.button_tags{
	
    height: 100%;
    border:none;
    text-align: center;
    background-color: #fff;
    padding: 0 20px 0 20px;
    
}

.hover_grey:hover{
    background-color: #eceef0;
}


/* .button:active{
    border-bottom-color: #00c471;
} */

.info_box{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #2C4E80;
    border-radius: 10px;
    margin-bottom: 1.25rem;
    color: #fff;
}

.info_left_box{
    display: flex;
    height: 100%;
    width: 40px;
    justify-content: center;
    align-items: center;
    
}

.info_rigth_box{
    min-width: 600px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.image_icon{
    height: 20px;
    width: 20px;
}

.title_box{
    height: 39px;
    margin-bottom: 20px;
}

.title{
    height: 100%;
    width: 100%;
    font-size: 1.75rem;
    border: none;
}

.title:focus{
    outline: none;
}

.tag:focus{
    outline: none;
}

.tag{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    border: none;
}

.main_text_box1{
    height: 60%;
    border: 1px solid #ced4da;
    border-radius: 30px;
    margin-bottom: 40px;
}

.tool_bar{
    display: flex;
    height: 60px;
    width: 100%;
    margin: 0 8px;
}

.tool_bar_button1{
    display: flex;
    height: 100%;
    align-items: center;
}

.tool_button{
    margin: 10px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: #fff;
    border-radius: 5px;

}
.tool_button:hover{
    background-color: #ced4da;

}

.border_div{
    align-items: center;
    display: flex;
    margin-right: 5px;
}

 .toolbar-divider {
    height: 30px;
    border-left: 1px solid #ced4da;
 }
 
.bottom_button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

.cancel_button{
    width: 100px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ced4da;
    
    display: flex;
  	justify-content: center; /* 수평 가운데 정렬 */
  	align-items: center; /* 수직 가운데 정렬 */
}

.register_button{
    width: 100px;
    height: 50px;
    background-color: #2C4E80;
    color: #fff;
    
}

.insert_button{
    width: 120px;
    height: 50px;
    border: 1px solid #ced4da;
}

.main_text_div{
    padding: 20px;
}

.main_text{
    border: none;
    width: 100%;
    height: 100%;
    display: block;
}

#noticeButton{
	border-radius: 10px;
}

#reviewButton{
	border-radius: 10px;
}