
.first_box{
    display: flex;
    align-items: center;
    background-color: #1f3933;
    height: 100px;
    margin-bottom: 60px;
}
.first_box div{
    color:white;
    
}
.first_in_box{
    padding-left: 18%;
}
 
a{	
    text-decoration: none;
}

.main{
    display: flex;
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1200px;
    min-width: 800px;
}

.left_box{
    flex:1;
    display: flex;
    flex-direction: column;
}

.side_box{
    margin-right: 40px;
}
.main_text_box{
    flex:9;
    padding: 30px;
}

.ul_no_point{
    list-style: none;
    padding-left: 0px;
    position: sticky;
    top: 50px;
    text-align: center;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.side_bar_first_box{
	list-style-type: none;
    padding: .5rem .5rem;
    width: 120px;
}

.side_bar{
    padding: 10px;
    
}

.box1{
    border-radius: 8px;
}

.first_input_box{
    display: flex;
    
}

.search_input_box{
    width: 100%;
    height: 48px;
    margin-right: 15px;
    border: none;
    
}
.input_box{
    width: 100%;
    height: 100%;
    border: none;
}

.search_button{
    background-color: #1f3933;
    color: #fff;
    min-width: 100px;
    height: 48px;
    border: none;
    font-size: 1.2rem;
}

.input_box:focus{
    outline: none;
}

.clear_button{
    background-color: #fff;
    color: #000000;
    min-width: 100px;
    height: 48px;
    align-items: center;
    border: none;
}

.round_box{
    border-radius: 5px;
}


.select_box{
    display: flex;
    width: 100%;
    align-items: center;
}

ul{
    margin: 0px;
}

.select_box_button{
    background-color: #fff;
    border: none;
}

.search_flex_box{
    display: flex;
    height:100%;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    border-color: #dee2e6;
    
}
.icon{
    min-width: 30px;
    text-align: center;
}

.edit_box{
	align-items: center;
	min-width: 700px;
}

.edit_button{
    background-color: #1f3933;
    min-width: 100px;
    height: 48px;
    border: none;
    display: flex;
  	justify-content: center; /* 수평 가운데 정렬 */
  	align-items: center; /* 수직 가운데 정렬 */
  	color: #fff;
  	font-size: 1.2rem;
}


.question_list{
    list-style-type: none;
}

h6{
	font-weight: bold;
}

p{  
	/* 텍스트 바디 한줄로 표시하는 css*/
	display: -webkit-box; /* 웹킷 기반 브라우저에서 다음 속성을 사용하기 위한 설정 */
	-webkit-line-clamp: 1; /* 원하는 줄 수 지정 */
	-webkit-box-orient: vertical; /* 수직으로 텍스트를 표시 */
	overflow: hidden; /* 넘치는 부분을 숨김 */
	text-overflow: ellipsis; /* 넘치는 부분을 "..."으로 표시 */
}


.li{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

li:hover{
    background-color: #dee2e6;
}

button:hover{
	background-color: #dee2e6;
}

.tag_box{
    background-color: #f1f3f5;
    border-radius: 4px;
    padding: 4px 8px;
}

.id_date_info{
	
}

.question_info_footer{
    height: 15px;
    justify-content: flex-end;
    align-items: center;
}


.footer_icon{
    width: 15px;
}
