.footer {
	padding-left: 5%;
}

.footer>li {
	font-style: normal;
	border: none
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #00CCFF;
	text-decoration: none;
	transition: all 0.2s ease-out;
}

.nav-link {
	font-family: 'HY견고딕';
	font-weight: 700;
	color: black;
}

.nav-link:hover {
	color: #00CCFF;
}

.btn {
	font-family: "Do Hyeon", sans-serif;
	font-weight: 400;
	font-style: normal;	
}