.footer {
	padding-left: 5%;
}

.footer>li {
	font-family: "Do Hyeon", sans-serif;
	font-weight: 400;
	font-style: normal;
	border: none
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #1f3933;
	text-decoration: none;
}

.nav-link {
	font-family: 'HY견고딕';
	font-weight: 700;
	color: black;
}

.nav-link:hover {
	color: #1f3933;
}

.btn {
	font-family: "Do Hyeon", sans-serif;
	font-weight: 400;
	font-style: normal;	
}
.btn-outline-info {
    --bs-btn-color: #3CA03C;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1f3933;
    --bs-btn-hover-border-color: #1f3933;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #1f3933;
    --bs-btn-active-border-color: #1f3933;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0dcaf0;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #1f3933;
    --bs-gradient: none;
}
.btn-info{
	--bs-btn-bg:#198754;
	--bs-btn-color: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: green;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #1f3933;
    --bs-btn-active-border-color: #1f3933;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: green;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #1f3933;
    --bs-gradient: none;
}