
    .container{
        padding: 10px;
        
    }

    .first_box{
        display: flex;
        height: auto;
        width: auto;
        align-items: center;
        justify-content: center;
        background-color:#B9FFFF;
    }

    .first_image_box{
        flex: 1;
        height: 650px;
    }

    @media (max-width: 1000px) {
        .first_box{
            display:flex;
            flex-direction: column;
        }
      }

    .image{
        width:100%;
        height:100%;
    }

    .text_box{
        text-align: center;
        height: auto;
        width: 100%;
        font-size: 1.5rem;
    }

    .text_box_out{
        flex: 1;
    }

    .first_button{
        border-radius: 50px;
        border: 1px solid black;
        text-align: center;
        
        
        font-size: 1rem;
    }

    .button_div{
        text-align: center;
    }

    .second_image_box{
        flex: 1;
        height: 450px;
    }

    .second_box{
        display: flex;
        height: auto;
        width: auto;
        align-items: center;
        justify-content: center;
        background-color: #97d8b1;
    }

    @media (max-width: 1000px) {
        .second_box{
            display:flex;
            flex-direction: column;
        }
      }

      .second_text_box{
        text-align: center;
        height: auto;
        width: 100%;
        font-size: 1.5rem;
    }

    .third_image_box{
        flex: 1;
        height: 350px;
    }

    .third_box{
        display: flex;
        height: auto;
        width: auto;
        align-items: center;
        justify-content: center;
        background-color: #d4e9e2;
    }

    @media (max-width: 1000px) {
        .third_box{
            display:flex;
            flex-direction: column;
        }
      }

      .third_text_box{
        text-align: center;
        height: auto;
        width: 100%;
        font-size: 1.5rem;
    }

    .fourth_image_box{
        flex: 1;
        height: 650px;
    }

    .fourth_box{
        display: flex;
        height: auto;
        width: auto;
        align-items: center;
        justify-content: center;
        background-color: #f5cac4;
    }

    @media (max-width: 1000px) {
        .fourth_box{
            display:flex;
            flex-direction: column;
        }
      }

    .fourth_text_box{
        text-align: center;
        height: auto;
        width: 100%;
        font-size: 1.5rem;
    }

    .fifth_image_box{
        flex: 1;
        height: 650px;
    }

    .fifth_box{
        display: flex;
        height: auto;
        width: auto;
        align-items: center;
        justify-content: center;
        background-color: #d8da6d;
    }

    @media (max-width: 1000px) {
        .fifth_box{
            display:flex;
            flex-direction: column;
        }
      }

      .fifth_text_box{
        text-align: center;
        height: auto;
        width: 100%;
        font-size: 1.5rem;
    }

    .sixth_image_box{
        flex: 1;
        height: 650px;
    }

    .sixth_box{
        display: flex;
        height: auto;
        width: auto;
        align-items: center;
        justify-content: center;
        background-color: #dbe6f2;
    }

    @media (max-width: 1000px) {
        .sixth_box{
            display:flex;
            flex-direction: column;
        }
      }

      .sixth_text_box{
        text-align: center;
        height: auto;
        width: 100%;
        font-size: 1.5rem;
    }
    