@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


		
			
			* {
            padding: 10;
            }

           .flex-container1 {
          
            padding: 10;
            }


            #BillingInformation {
            background-color: #f8f1c0fd;
            }

            #shippingInformation {
            background-color: #f8f1c0fd;
            }

            #orderHistory {
            background-color: #f8f1c0fd;
            }

            #checkout {
            background-color: #f8f1c0fd;
            }

            #requestDropdownBtn, #card, #deposit {
            background-color: #265631fd
            }
            
            span {
             display: flex;
			 justify-content: center;
			 align-items: center;
            }
           
	